$font-size: 5vw;

header, .poster-list {
  padding: $font-size;
  width: 40vw;
}

header {
  float: left;

  h1 {
    color: #F5E0F1;
    font-size: $font-size;
    margin: 0;
  }
}

.poster-list {
  color: #F5E0F1;
  float: right;
  font-size: $font-size;
  margin: 0;

  a {
    color: white;
    text-decoration: none;
  }
}
