body {
  overflow: hidden;
}

.poster {
  h1 {
  }
}

.map, video {
  @include position(absolute, 0px 0px 0px 0px);
  width: 100%;
  z-index: -1;
}

video {
  object-fit: cover;
  z-index: 1;
}

@include keyframes(slide-images) {
  0% {
    @include transform(translateX(0) translateY(0))
  }

  100% {
    @include transform(translateX(-100%) translateY(-50%))
  }
}

.one {
  background: #000;
  @include position(absolute, 0px 0px 0px 0px);

  img {
    @include animation(slide-images 120s linear both);
    height: 130vh;
    @include position(absolute, 0px 0 0 0px);

    &:nth-of-type(2) {
      left: 100vh;
    }

    &:nth-of-type(3) {
      left: 200vh;
    }
  }

  h1, h2 {
    color: #fff;
    position: relative;
    z-index: 2;
  }

  h1 {
    color: white;
    display: inline-block;
    font-family: $merriweather;
    font-size: 4vh;
    font-weight: 800;
    margin: 10vh 0 0 20vw;
    position: relative;
    width: 12vw;

    &:after {
      border-right: 4px solid white;
      content: '';
      display: block;
      height: 70vh;
      @include position(absolute, 0px 0px 0 0);
    }
  }

  h2 {
    font-size: 4vh;
    margin: 31vh 0 0 35vw;
    width: 45%;
    z-index: 3;
  }
}

.two {
  @include linear-gradient(transparent 0%, rgba(0, 0, 0, .15), transparent 100%, $fallback: transparent);

  h1 {
    color: #fff;
    font-family: $oswald;
    font-size: 25vh;
    font-weight: 800;
    letter-spacing: 6px;
    margin: 20vh 0 0 6vh;
    text-transform: uppercase;
  }

  h2 {
    float: right;
    font-size: 3vh;
    margin: 0 6vh 0 0;
    position: relative;
    width: 42%;
  }
}

@include keyframes(fade-in-out) {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  99% {
    display: block;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@include keyframes(fade-in) {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.three {
  align-items: center;
  display: flex;
  height: 100vh;
  margin: auto;
  width: 90%;

  > h1 {
    @include animation(fade-in 4s ease both);
    margin: 0;
    flex: 100 0px;
  }

  > blockquote {
    @include animation(fade-in-out 4s ease both);
    @include animation-delay(3s);
    flex: 100 0px;
  }

  > h2 {
    @include animation(fade-in 4s ease both);
    @include animation-delay(7s);
    flex: 100 0px;
  }

  h1, blockquote, h2, cite {
    color: white;
    display: block;
    font-size: 3vh;
    width: 100%;
  }

  blockquote {
    margin: 0;
    position: relative;

    h2 {
      margin: 0;
    }
  }
}

.four {

}

.five {

}

.six {

}
