!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'IE=edge,chrome=1', :'http-equiv' => 'X-UA-Compatible' }
    %meta{ :content => 'width=device-width,initial-scale=1', 'name' => 'viewport' }
    %title
      = current_page.data.title || 'Dayview Poster'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Playfair+Display:400,900|PT+Sans:400,700|Merriweather:400,900|Oswald:400,700,300'
  %body
    = yield
