.map#map
.poster.two
  %h1 Dayview
  %h2 Save your moments in a box, line them up side-by-side. Dayview saves information from all the apps you already use — it creates a story from your music, journaling, photo and location apps. Page through day-by-day, or zoom out to see the big picture.
