.five
  %h1 Dayview
  %h2 Remember, discover
  %p Dayview saves your moments in a box — connect all the tracking apps you already use — music, photos, journaling and location apps. Page through the story you didn't even know was there, or zoom out to see the big picture and discover patterns that were too hard to see up-close.
