%h1 Quo
%h2 Life, uncovered
%p The last few years have seen an explosion in cloud services and consumer tracking devices. Everything that was once local data is now stored online: work, photos, music, etc. Every type of sensor has been integrated into every type of phone. As mobile internet speeds have increased, social networks have adopted the mantra "share now." Google and Apple have enabled location-based suggestion services on their phones by default. You're self tracking without even realizing it. Control that data.
