.poster.three
  %h1 Quo
  %blockquote
    %h2 Until you make the unconscious conscious, it will direct your life and you will call it fate.
    %cite Carl Jung
  %h2 Connect your music, journaling, photo and location apps to get a birds-eye view of your life — discover patterns that were too hard to notice day-to-day.
