%h1 Dayview
%h2 Control your data
%blockquote
  %p "We’ve been led into a culture that’s been engineered to leave us tired, hungry for indulgence, willing to pay a lot for convenience and entertainment, and most importantly, vaguely dissatisfied with our lives so that we continue wanting things we don’t have. We buy so much because it always seems like something is still missing."
  %cite= link_to 'David Cain', 'http://www.raptitude.com/2010/07/your-lifestyle-has-already-been-designed'
